<%= render "layouts/breadcrumbs" %>

<div class="max-w-4xl mx-auto flex flex-row">
  <h1 class="text-center | font-medium leading-tight text-3xl">List of Public Companies with Bitcoin treasuries</h1>
</div>

<div class="max-w-4xl mx-auto flex flex-row">
  <div class="felx flex-col basis-2/5">
    <div class="h-80 basis-2/5  overflow-scroll # m-2 border-dashed border-2 rounded-lg border-gray-200">
      <table class="min-w-full mx-auto divide-y">
        <thead class="bg-gray-100">
          <tr>
            <th scope="col" class="sticky top-0 z-10 px-3 py-1 | bg-gray-50 text-sm font-semibold text-gray-900 ">Name</th>
            <td scope="col" class="sticky top-0 z-10 text-left px-3 py-1 | bg-gray-50 text-sm font-semibold text-gray-900 ">BTC</td>
            <td scope="col" class="sticky top-0 z-10 text-left px-3 py-1 | bg-gray-50 text-sm font-semibold text-gray-900 ">% of supply</td>
          </tr>
        </thead>

        <tbody class="divide-y">
          <% entities.each do |pc| %>
            <tr>
              <td class="px-3 py-4 text-sm text-gray-500">
                <div class="flex items-center">
                  <div class="h-10 w-10 flex-shrink-0">
                   <a href="#">
                     <%= inline_svg_tag "svg/public-companies/#{pc.short_ticker.downcase}.svg", class: "h-10 w-10 rounded-lg" %>
                    </a>
                  </div>
                  <div class="ml-4">
                    <div class="font-medium text-gray-900">
                      <%= link_to pc.name, treasuries_public_company_path(pc.permalink), class: "hover:underline" %>
                    </div>
                    <div class="text-gray-500">
                      (<%= link_to pc.long_ticker, treasuries_public_company_path(pc.permalink), class: "hover:underline" %>)
                    </div>
                  </div>
                </div>
              </td>
              <td class="px-3 py-4 text-sm text-gray-500">
                <div class="text-gray-900">
                  <span class="text-lg text-btc">₿</span> <%= link_to number_with_delimiter(pc.total_btc.round, delimeter: ","), treasuries_public_company_path(pc.permalink), class: "hover:underline" %>
                </div>
              </td>

              <td class="px-3 py-4 text-sm text-gray-500">
                <div class="text-gray-900">
                <%= number_to_percentage(pc.percent_of_supply, precision: 2) %></div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="h-60 # m-2 border-dashed border-2 rounded-lg border-gray-200">
      Last 30 days
    </div>
  </div>

  <div class="h-full flex flex-col basis-3/5 # m-2 border-dashed border-2 rounded-lg border-gray-200">
    <div class="h-max # m-2 border-dashed border-2 rounded-lg border-gray-200">
      <div
        data-controller="line-chart"
        data-line-chart-data-value="<%= chart_data.to_json %>"
        data-line-chart-label-value="<%= label %>"
        class="mx-auto"
      >
        <canvas id="myChart"></canvas>
      </div>
    </div>

    <div class="h-max # m-2 border-dashed border-2 rounded-lg border-gray-200">
      <div class="p-2">
        <%= render partial: "treasuries/basic_stats",
          locals: {
            total_purchases: local_assigns[:total_purchases],
            total_sell_offs: local_assigns[:total_sell_offs],
            total_btc: local_assigns[:total_btc],
            total_percent_of_supply: local_assigns[:total_percent_of_supply]
          }
        %>
      </div>
    </div>
  </div>
</div>
