<!-- https://tailwindui.com/components/marketing/sections/footers#component-bca5fc82e894dfe85dc6ad982209c40e -->
<footer class="bg-gray-800 mt-20" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="grid grid-cols-2 gap-8 xl:col-span-2">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">Treasuries</h3>
            <ul role="list" class="mt-4 space-y-4">
              <li><%= link_to " All ", treasuries_path, class: "text-base text-gray-300 hover:text-white" %></li>
              <li><%= link_to " Countries ", treasuries_countries_path, class: "text-base text-gray-300 hover:text-white" %></li>
              <li><%= link_to " Private Companies ", treasuries_private_companies_path, class: "text-base text-gray-300 hover:text-white" %></li>
              <li><%= link_to " Public Companies ", treasuries_public_companies_path, class: "text-base text-gray-300 hover:text-white" %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-8 border-t border-gray-700 pt-8 md:flex md:items-center md:justify-between">
      <div class="flex space-x-6 md:order-2">

        <a href="https://github.com/baxter2/btc-treasuries.com" class="text-gray-400 hover:text-gray-300">
          <span class="sr-only">GitHub</span>
          <%= inline_svg_tag "svg/icons/github.svg", class: "h-6 w-6" %>
        </a>

      </div>
      <p class="mt-8 text-base text-gray-400 md:mt-0 md:order-1">&copy; <%= Date.current.year %> btc-treasuries.com. All rights reserved.</p>
    </div>
  </div>
</footer>
